body {
    background-color: #f8f9fa;
  }

  h1, h2, h5, p {
    font-family: 'DM Sans', 'Inter', sans-serif;
  }
  
  a.btn {
    font-weight: 600;
  }

  .section-dark {
    background-color: #010725;
    color: white;
  }
  
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
}
.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}